.heading img {
    cursor: pointer;
    opacity: 1;
    transition: .5s;
}

.heading img:hover {
    opacity: .6;
}

.heading ul {
    text-align: right;
}

.heading ul li {
    display: inline-block;
}

.heading ul li a {
    text-decoration: none;
    color: rgb(67, 67, 67);
    padding: 10px 15px;
    font-weight: bold;
    font-size: 18px;
    transition: .5s;
}

.heading ul li a:hover {
    color: rgb(68, 161, 227);
}

.heading .div-1 {
    text-align: center;
    display: block;
}

.heading .div-1 .option {
    height: 50px;
    width: 80%;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: rgb(218, 248, 238);
    font-weight: bold;
    border: none;
}

.Banner {
    margin-top: 100px;
}

.Banner b {
    font-size: 50px;
    color: rgb(65, 65, 65);
}

.Banner p {
    font-size: 20px;
    color: rgb(67, 67, 67);
    margin-top: 15px;
}

.Banner p b {
    font-size: 20px;
    color: rgb(203, 0, 0);
}

.Banner p a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(65, 65, 65);
}

.Banner .div-1 img {
    width: 100%;
    height: 350px;
    margin-top: 25px;
    border-radius: 10px;
}

.Banner .div-1 p {
    margin-top: 80px;
    line-height: 35px;
    font-size: 22px;
    color: rgb(67, 67, 67);
}

.Banner .div-2 {
    margin-top: 40px;
}

.Banner .div-2 p {
    margin-top: 80px;
    line-height: 0px;
    font-size: 22px;
    color: rgb(67, 67, 67);
}

.Banner .div-2 a {
    font-weight: bold;
    font-size: 30px;
}

.Banner .div-2 span {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: .5s;
    padding: 0px 15px;
    font-size: 25px;
}

.Banner .div-2 a:hover span {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.Banner .div-2 p small {
    font-style: italic;
    font-size: 22px;
}

.Banner h5 {
    text-align: center;
    font-weight: bold;
    color: rgb(94, 94, 94);
    font-size: 30px;
}

.Banner ul {
    margin-top: 80px;
}

.Banner ul li {
    list-style: none;
    text-align: left;
}

.Banner ul li a {
    line-height: 60px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(61, 61, 61);
    padding: 0px 10px;
}

.Banner ul li span {
    font-size: 22px;
    padding: 10px 25px;
    transition: .5s;
    border-radius: 20px 0px 0px 20px;
    background-color: rgb(255, 255, 255);
}

.Banner ul li:hover span {
    background-color: rgb(68, 129, 227);
    color: wheat;
}

.Banner .div-3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.Banner .div-3 img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.Banner .div-3 b {
    font-size: 25px;
    display: block;
    margin-top: 30px;
}

.Banner .div-3 h4 {
    font-size: 22px;
    font-weight: bold;
    color: rgb(150, 135, 135);
    margin-top: 15px;
}

.Banner .div-3 ol {
    text-align: center;
    margin-top: 30px;
}

.Banner .div-3 ol li {
    display: inline-block;
}

.Banner .div-3 ol li a {
    padding: 10px 15px;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    color: rgb(65, 65, 65);
    transition: .5s;
}

.Banner .div-3 ol li:nth-child(2) a {
    color: rgb(11, 124, 137);
}

.Banner .div-3 ol li:nth-child(3) a {
    color: rgb(255, 14, 14);
}

.Banner .div-3 ol li a:hover {
    background-color: rgb(68, 129, 227);
    color: aliceblue;
}

.Footer {
    margin-top: 150px;
    margin-bottom: 30px;
}

.Footer img {
    cursor: pointer;
    opacity: 1;
    transition: .5s;
    width: 200px;
}

.Footer p {
    margin-top: 15px;
}

.Footer h5 a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: .5s;
}

.Footer h5 a:hover {
    color: rgb(68, 129, 227);
}

.Footer h5 {
    margin-top: 27px;
    display: block;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(68, 129, 227);
}

.Footer ul {
    margin-left: -20px;
    margin-top: 10px;
}

.Footer ul li {
    list-style: none;
    line-height: 40px;
}

.Footer ul li a {
    text-decoration: none;
    color: rgb(126, 122, 122);
    transition: .5s;
}

.Footer ul li a:hover {
    color: rgb(68, 129, 227);
}